doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,minimum-scale=1')
  script(src='https://code.jquery.com/jquery-3.5.1.js')
  title 新增歌曲
  script.
    var data = `#{data}`;
    var dataAlternated = data.replaceAll("&quot;", "\"");
    
    var dataJsonArray = JSON.parse(dataAlternated);
    console.log("dataJsonArray.length = "+dataJsonArray.length);

    function back() {
        var hostLocation = window.location.origin;
        console.log("hostLocation = "+hostLocation);
        window.location.replace(hostLocation);
    }

    function addCheck() {
        var inputId = document.getElementById('inputId').value;
        var inputSongNum = document.getElementById('inputSongNum').value;
        var inputSingerId = document.getElementById('inputSingerId');
        var inputSongLanguageId = document.getElementById('inputSongLanguageId');
        var inputSongTypeId = document.getElementById('inputSongTypeId');
        var inputNameLength = document.getElementById('inputNameLength');
        var inputHits = document.getElementById('inputHits');
        var inputServerState = document.getElementById('inputServerState');
        var inputShowHidden = document.getElementById('inputShowHidden');
        var inputSort = document.getElementById('inputSort');
        var inputDownCount = document.getElementById('inputDownCount');

        console.log("inputSingerId = "+inputSingerId);

        for (var i=0; i<dataJsonArray.length; i++) {
            if (parseInt(dataJsonArray[i]['Id'], 10) == parseInt(inputId, 10)) {
                window.alert("已有相同Id");
                return false;
            }

            if (parseInt(dataJsonArray[i]['SongNum'], 10) == parseInt(inputSongNum, 10)) {
                window.alert("已有相同SongNum");
                return false;
            }
        }

        if (inputSingerId.value == '') {
            inputSingerId.value = 0;
        }

        if (inputSongLanguageId.value == '') {
            inputSongLanguageId.value = 2;
        }

        if (inputSongTypeId.value == '') {
            inputSongTypeId.value = 13;
        }

        if (inputNameLength.value == '') {
            inputNameLength.value = 0;
        }

        if (inputHits.value == '') {
            inputHits.value = 0;
        }

        if (inputServerState.value == '') {
            inputServerState.value = 1;
        }

        if (inputServerState.value == '') {
            inputServerState.value = 1;
        }

        if (inputShowHidden.value == '') {
            inputShowHidden.value = 1;
        }

        if (inputSort.value == '') {
            inputSort.value = 1;
        }

        if (inputDownCount.value == '') {
            inputDownCount.value = 0;
        }

        console.log("inputNameLength = "+inputNameLength.value);

        //return false;

    }

    function language_change() {
        var lang_input = document.getElementById('language');
        var lang_select = document.getElementById('language_select');
        lang_input.value = lang_select.value;
        console.log("lang_input.value = "+lang_input.value);
    }

    function load_language() {
        var option_string = '#{lang}';
        var option_array = option_string.split(',')
        var lang_select = document.getElementById('language_select');
        lang_select.innerHTML = "<select id='language_select' name='language_select' onchange='language_change()'>";
        for (var i=0; i<option_array.length; i++) {
            console.log("#{language}, "+option_array[i]);
            lang_select.innerHTML += "<option value='"+option_array[i]+"'>"+option_array[i]+"</option>"
        }
        lang_select.innerHTML += "</select>";
    }

    function area_change() {
        var area_input = document.getElementById('area');
        var area_select = document.getElementById('area_select');
        area_input.value = area_select.value;
        console.log("area_input.value = "+area_input.value);
    }

    function load_area() {
        var option_string = '#{area1}';
        var option_array = option_string.split(',')
        var area_select = document.getElementById('area_select');
        area_select.innerHTML = "<select id='area_select' name='area_select' onchange='area_change()'>";
        for (var i=0; i<option_array.length; i++) {
            console.log("#{area}, "+option_array[i]);
            area_select.innerHTML += "<option value='"+option_array[i]+"'>"+option_array[i]+"</option>"            
        }
        area_select.innerHTML += "</select>";
    }
    function mood_change() {
        var mood_input = document.getElementById('mood');
        var mood_select = document.getElementById('mood_select');
        mood_input.value = mood_select.value;
        console.log("mood_input.value = "+mood_input.value);
    }

    function load_mood() {
        var option_string = '#{mood1}';
        var option_array = option_string.split(',')
        var mood_select = document.getElementById('mood_select');
        mood_select.innerHTML = "<select id='mood_select' name='mood_select' onchange='mood_change()'>";
        for (var i=0; i<option_array.length; i++) {
            console.log("#{mood}, "+option_array[i]);
            mood_select.innerHTML += "<option value='"+option_array[i]+"'>"+option_array[i]+"</option>"
        }
        mood_select.innerHTML += "</select>";
    }
    function sex_change() {
        var sex_input = document.getElementById('sex');
        var sex_select = document.getElementById('sex_select');
        sex_input.value = sex_select.value;
        console.log("sex_input.value = "+sex_input.value);
    }

    function load_sex() {
        var option_string = '#{sex1}';
        var option_array = option_string.split(',')
        var sex_select = document.getElementById('sex_select');
        sex_select.innerHTML = "<select id='sex_select' name='sex_select' onchange='sex_change()'>";
        for (var i=0; i<option_array.length; i++) {
            console.log("#{sex}, "+option_array[i]);
            sex_select.innerHTML += "<option value='"+option_array[i]+"'>"+option_array[i]+"</option>"
        }
        sex_select.innerHTML += "</select>";
    }
    function antiphonal_change() {
        var antiphonal_input = document.getElementById('antiphonal');
        var antiphonal_select = document.getElementById('antiphonal_select');
        antiphonal_input.value = antiphonal_select.value;
        console.log("antiphonal_input.value = "+antiphonal_input.value);
    }

    function load_antiphonal() {
        var option_string = '#{antiphonal1}';
        var option_array = option_string.split(',')
        var antiphonal_select = document.getElementById('antiphonal_select');
        antiphonal_select.innerHTML = "<select id='antiphonal_select' name='antiphonal_select' onchange='antiphonal_change()'>";
        for (var i=0; i<option_array.length; i++) {
            console.log("#{antiphonal}, "+option_array[i]);
            antiphonal_select.innerHTML += "<option value='"+option_array[i]+"'>"+option_array[i]+"</option>"
        }
        antiphonal_select.innerHTML += "</select>";
    }
    function vendor_change() {
        var vendor_input = document.getElementById('vendor');
        var vendor_select = document.getElementById('vendor_select');
        vendor_input.value = vendor_select.value;
        console.log("vendor_input.value = "+vendor_input.value);
    }

    function load_vendor() {
        var option_string = '#{vendor1}';
        var option_array = option_string.split(',')
        var vendor_select = document.getElementById('vendor_select');
        vendor_select.innerHTML = "<select id='vendor_select' name='vendor_select' onchange='vendor_change()'>";
        for (var i=0; i<option_array.length; i++) {
            console.log("#{vendor}, "+option_array[i]);
            vendor_select.innerHTML += "<option value='"+option_array[i]+"'>"+option_array[i]+"</option>"
        }
        vendor_select.innerHTML += "</select>";
    }
    function machine_change() {
        var machine_input = document.getElementById('machine');
        var machine_select = document.getElementById('machine_select');
        machine_input.value = machine_select.value;
        console.log("machine_input.value = "+machine_input.value);
    }

    function load_machine() {
        var option_string = '#{machine1}';
        var option_array = option_string.split(',')
        var machine_select = document.getElementById('machine_select');
        machine_select.innerHTML = "<select id='machine_select' name='machine_select' onchange='machine_change()'>";
        for (var i=0; i<option_array.length; i++) {
            console.log("#{machine}, "+option_array[i]);
            machine_select.innerHTML += "<option value='"+option_array[i]+"'>"+option_array[i]+"</option>"
        }
        machine_select.innerHTML += "</select>";
    }

    func onTitleChange() {
        var titleInput = document.getElementById("title");
        var titleCountInput = document.getElementById("title_word_count");
        titleCountInput.value = titleInput.value.length;      
    }

bodyngObj
h1(align='center') 新增歌曲

//p(align='center') #{data}

hr
form(action='/addsong/add' method='post' onsubmit="return addCheck(this)")

    table(align='center')
        tr
            td id
            td 
                input(id='id' name='id' type='text' value="")
        tr
            td video_file
            td
                input(id='video_file' name='video_file' type='text' value="")
        tr
            td title
            td
                textarea(id='title' name='title' cols='64' rows='4')
                script.
                    var titleInput = document.getElementById("title");
                    titleInput.addEventListener("keyup", function(){
                        onTitleChange()
                    });
        tr
            td title_word_count
            td
                input(id='title_word_count' name='title_word_count' type='text' value="")
        tr
            td singer
            td
                input(id='singer' name='singer' type='text' size='64' value="")
        tr
            td language
            td
                input(id='language' name='language' type='hidden' value=`${language}`)
                select(id='language_select' name='language_select' onchange='language_change()')
                script.
                    load_language()
        tr
            td area
            td
                input(id='area' name='area' type='hidden' value="")
                select(id='area_select' name='area_select' onchange='area_change()')
                script.
                    load_area()
        tr
            td genre
            td
                input(id='genre' name='genre' type='text' value="")
        tr
            td mood
            td
                input(id='mood' name='mood' type='hidden' value="")
                select(id='mood_select' name='mood_select' onchange='mood_change()')
                script.
                    load_mood()
        tr
            td last_name_strokes
            td
                input(id='last_name_strokes' name='last_name_strokes' type='text' value="")
        tr
            td singer_zhuyin_first_char
            td
                input(id='singer_zhuyin_first_char' name='singer_zhuyin_first_char' type='text' size='64' value="")
        tr
            td singer_pinyin_first_char
            td
                input(id='singer_pinyin_first_char' name='singer_pinyin_first_char' type='text' size='64' value="")
        tr
            td title_zhuyin_first_char
            td
                input(id='title_zhuyin_first_char' name='title_zhuyin_first_char' type='text' size='64' value="")
        tr
            td title_pinyin_first_char
            td
                input(id='title_pinyin_first_char' name='title_pinyin_first_char' type='text' size='64' value="")
        tr
            td sex	
            td
                input(id='sex' name='sex' type='hidden' value="")
                select(id='sex_select' name='sex_select' onchange='sex_change()')
                script.
                    load_sex()
        tr
            td featuring	
            td
                input(id='featuring' name='featuring' type='text' size='64' value="")
        tr
            td antiphonal	
            td
                input(id='antiphonal' name='antiphonal' type='hidden' value="")
                select(id='antiphonal_select' name='antiphonal_select' onchange='antiphonal_change()')
                script.
                    load_antiphonal()
        tr
            td vendor	
            td
                input(id='vendor' name='vendor' type='hidden' value="")
                select(id='vendor_select' name='vendor_select' onchange='vendor_change()')
                script.
                    load_vendor()
        
        tr
            td is_new		
            td
                input(id='is_new' name='is_new' type='text' value="")
        tr
            td vocal		
            td
                input(id='vocal' name='vocal' type='text' value="")            
        tr
            td activity_tag1		
            td
                input(id='activity_tag1' name='activity_tag1' type='text' size='64' value="")
        tr
            td volume		
            td
                input(id='volume' name='volume' type='text' value="")
        tr
            td description		
            td
                input(id='description' name='description' type='text' value="")
        tr
            td file_cd		
            td
                input(id='file_cd' name='file_cd' type='text' value="")
        tr
            td sort		
            td
                input(id='sort' name='sort' type='text' value="")
        tr
            td rlsound		
            td
                input(id='rlsound' name='rlsound' type='text' value="")
        tr
            td rlsound2		
            td
                input(id='rlsound2' name='rlsound2' type='text' value="")
        tr
            td ch		
            td
                input(id='ch' name='ch' type='text' value="")
        tr
            td add_no		
            td
                input(id='add_no' name='add_no' type='text' value="")
        tr
            td light		
            td
                input(id='light' name='light' type='text' value="")
        tr
            td newer		
            td
                input(id='newer' name='newer' type='text' value="")
        tr
            td son1		
            td
                input(id='son1' name='son1' type='text' value="")
        tr
            td son2		
            td
                input(id='son2' name='son2' type='text' value="")
        tr
            td son3		
            td
                input(id='son3' name='son3' type='text' value="")
        tr
            td ok		
            td
                input(id='ok' name='ok' type='text' value="")
        tr
            td machine		
            td
                input(id='machine' name='machine' type='hidden' value="")
                select(id='machine_select' name='machine_select' onchange='machine_change()')
                script.
                    load_machine()
        tr
            td video_length		
            td
                input(id='video_length' name='video_length' type='text' value="")
        tr
            td tv		
            td
                input(id='tv' name='tv' type='text' value="")
        tr
            td activity_tag2		
            td
                input(id='activity_tag2' name='activity_tag2' type='text' value="")
        tr
            td activity_tag3		
            td
                input(id='activity_tag3' name='activity_tag3' type='text' value="")
        tr
            td version		
            td
                input(id='version' name='version' type='text' value="")
        tr
            td version_name		
            td
                textarea(id='version_name' name='version_name' cols='64' rows='4') 
        tr
            td SingerId		
            td
                input(id='oSingerIdk' name='SingerId' type='text')
        tr
            td SongLanguageId		
            td
                input(id='SongLanguageId' name='SongLanguageId' type='text' size='16' )
        tr
            td SongTypeId		
            td
                input(id='SongTypeId' name='SongTypeId' type='text' size='10' )
        tr
            td Track		
            td
                input(id='Track' name='Track' type='text' size='10' )
        tr
            td AllSpell
            td
                textarea(id='AllSpell' name='AllSpell' cols='64' rows='4')
        tr
            td Hits		
            td
                input(id='Hits' name='Hits' type='text')
        tr
            td ServerState		
            td
                input(id='ServerState' name='ServerState' type='text')
        tr
            td Image		
            td
                input(id='Image' name='Image' type='text' )
        tr
            td SavePath		
            td
                input(id='SavePath' name='SavePath' type='text' size='32' )
        tr
            td DownPath		
            td
                input(id='DownPath' name='DownPath' type='text' size='32' )
        tr
            td DownUrl1		
            td
                textarea(id='DownUrl1' name='DownUrl1' cols='64' rows='4') 
        tr
            td DownUrl2		
            td
                textarea(id='DownUrl2' name='DownUrl2' cols='64' rows='4') 
        tr
            td DownUrl3		
            td
                textarea(id='DownUrl3' name='DownUrl3' cols='64' rows='4')
        tr
            td BackDownUrl		
            td
                textarea(id='BackDownUrl' name='BackDownUrl' cols='64' rows='4')
        tr
            td FileMd5		
            td
                input(id='FileMd5' name='FileMd5' type='text' size='64' )
        tr
            td ShowHidden		
            td
                input(id='ShowHidden' name='ShowHidden' type='text' )
    span
        div(align='center')
            input(type='button' value='取消' onclick='back()')
            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input(type='submit' value='確定')