doctype html
head
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width,minimum-scale=1')
  title 刪除歌曲
  script.
    function back() {
        var hostLocation = window.location.origin;
        console.log("hostLocation = "+hostLocation);
        window.location.replace(hostLocation);
    }  

bodyngObj
h1(align='center') 刪除歌曲

hr
form(action='/deletesong/delete' method='post')

    table(align='center')
        tr
            td id
            td #{id}
                input(id='id' name='id' type='hidden' value=`${id}`)
        tr
            td video_file
            td #{video_file}
        tr
            td title
            td #{title}
                //textarea(id='inputName' name='inputName' cols='64' rows='4') #{Name}
        tr
            td title_word_count
            td #{title_word_count}
                //input(id='inputSingerName' name='inputSingerName' type='text' size='64' value=`${SingerName}`)
        tr
            td singer
            td #{singer}
                //input(id='inputSingerId' name='inputSingerId' type='text' value=`${SingerId}`)
        tr
            td language
            td #{language}
                //input(id='inputSongLanguageId' name='inputSongLanguageId' type='text' value=`${SongLanguageId}`)
        tr
            td area
            td #{area}
                //input(id='inputSongTypeId' name='inputSongTypeId' type='text' value=`${SongTypeId}`)
        tr
            td genre
            td #{genre}
                //input(id='inputTrack' name='inputTrack' type='text' value=`${Track}`)
        tr
            td mood
            td #{mood}
                //input(type='text' value=`${FirstSpell}`)
                //textarea(id='inputFirstSpell' name='inputFirstSpell' cols='64' rows='4') #{FirstSpell}
        tr
            td last_name_strokes
            td #{last_name_strokes}
                //input(type='text' value=`${AllSpell}`)
                //textarea(id='inputAllSpell' name='inputAllSpell' cols='64' rows='4') #{AllSpell}
        tr
            td singer_zhuyin_first_char
            td #{singer_zhuyin_first_char}
                //input(id='inputNameLength' name='inputNameLength' type='text' value=`${NameLength}`)
        tr
            td singer_pinyin_first_char
            td #{singer_pinyin_first_char}
                //input(id='inputHits' name='inputHits' type='text' value=`${Hits}`)
        tr
            td title_zhuyin_first_char
            td #{title_zhuyin_first_char}
                //input(id='inputFormat' name='inputFormat' type='text' value=`${Format}`)
        tr
            td title_pinyin_first_char
            td #{title_pinyin_first_char}
                //input(id='inputServerState' name='inputServerState' type='text' value=`${ServerState}`)
        tr
            td sex	
            td #{sex}
                //input(id='inputImage' name='inputImage' type='text' value=`${Image}`)
        tr
            td featuring	
            td #{featuring}
                //input(id='inputSavePath' name='inputSavePath' type='text' value=`${SavePath}`)
        tr
            td antiphonal	
            td #{antiphonal}
                //input(id='inputDownPath' name='inputDownPath' type='text' value=`${DownPath}`)
        tr
            td vendor	
            td #{vendor}
                //input(id='inputVersion' name='inputVersion' type='text' value=`${Version}`)
        tr
            td request_count	
            td #{request_count}
                //input(type='text' value=`${DownUrl1}`)
                //textarea(id='inputDownUrl1' name='inputDownUrl1' cols='64' rows='4') #{DownUrl1}
        tr
            td is_new		
            td #{is_new}
                //input(type='text' value=`${DownUrl2}`)
                //textarea(id='inputDownUrl2' name='inputDownUrl2' cols='64' rows='4') #{DownUrl2}
        tr
            td vocal		
            td #{vocal}
                //input(type='text' value=`${DownUrl3}`)
                //textarea(id='inputDownUrl3' name='inputDownUrl3' cols='64'  rows='4') #{DownUrl3}
        tr
            td add_date		
            td #{add_date}
                //input(type='text' value=`${BackDownUrl}`)
                //textarea(id='inputBackDownUrl' name='inputBackDownUrl' cols='64' rows='4') #{BackDownUrl}
        tr
            td activity_tag1		
            td #{activity_tag1}
                //input(id='inputFileMd5' name='inputFileMd5' type='text' value=`${FileMd5}`)
        tr
            td volume		
            td #{volume}
                //input(id='inputShowHidden' name='inputShowHidden' type='text' value=`${ShowHidden}`)
        tr
            td description		
            td #{description}
                //input(id='inputSort' name='inputSort' type='text' value=`${Sort}`)
        tr
            td file_cd		
            td #{file_cd}
                //input(id='inputAddTime' name='inputAddTime' type='text' value=`${AddTime}`)
        tr
            td sort		
            td #{sort}
                //input(id='inputUpdateTime' name='inputUpdateTime' type='text' value=`${UpdateTime}`)
        tr
            td rlsound		
            td #{rlsound}
                //input(id='inputDownCount' name='inputDownCount' type='text' value=`${DownCount}`)
        tr
            td rlsound2		
            td #{rlsound2}
                //textarea(id='inputVersionName' name='inputVersionName' cols='64' rows='4') #{VersionName}
        tr
            td ch		
            td #{ch}
        tr
            td add_no		
            td #{add_no}
        tr
            td light		
            td #{light}
        tr
            td newer		
            td #{newer}
        tr
            td son1		
            td #{son1}
        tr
            td son2		
            td #{son2}
        tr
            td son3		
            td #{son3}
        tr
            td ok		
            td #{ok}
        tr
            td machine		
            td #{machine}
        tr
            td video_length		
            td #{video_length}
        tr
            td tv		
            td #{tv}
        tr
            td activity_tag2		
            td #{activity_tag2}
        tr
            td activity_tag3		
            td #{activity_tag3}
        tr
            td version		
            td #{version}
        tr
            td version_name		
            td #{version_name}

    span
        div(align='center')
            input(type='button' value='取消' onclick='back()')
            |&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            input(type='submit' value='確定')
    